// <SELECT>
// Сніппет (HTML): sel
.select {
	position: relative;
	// .select__body
	&__body {
		position: relative;
		min-width: rem(75);
		// background-color: #fff;
	}
	// .select__title
	&__title {
		color: inherit;
		background-color: #fff;
		cursor: pointer;
		width: 100%;
		border-radius: 4px;
		display: flex;
		justify-content: start;
		align-items: center;
		flex-direction: row-reverse;
		gap: rem(5);
		padding: rem(11) rem(19);
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;

		img {
			width: rem(10);
			transition: all 0.4s ease 0s;
		}

		._select-open & {
			img {
				transform: rotate(-180deg);
			}
		}
	}
	// .select__value
	&__value {
		// background-color: #fff;
		display: flex;
		font-size: rem(14);
		line-height: 121.428571%; /* 17/14 */
		color: #0D5E94;
		// gap: rem(10);
		> * {
			flex: 1 1 auto;
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		overflow: hidden;
		border-top: 0;
		padding: 10px 0px 5px 0px;
		box-shadow: 0px 4px 34px rgba(78, 112, 137, 0.45);
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: 200px;
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: rem(5) rem(19);
		font-size: rem(14);
		line-height: 121.428571%; /* 17/14 */
		color: #0D5E94;

		&._select-selected {
			background-color: #eee;
		}
		// @media (any-hover: hover) {
		// 	&:hover {
		// 		background: #d9d9d9;
		// 	}
		// }
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Стан селекту
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
