// Заголовки, загальні БЕМ блоки та інше...


.title {
  font-weight: 700;
  @include adaptiveValue("font-size", 44, 24, 0, 1920, 767);
  line-height: 114%;
  color: #2B304A;

  // .title_w

  &_w {
    color: #FFFFFF;
  }
  // .title_main

  &_main {
    @include adaptiveValue("font-size", 64, 27, 0, 1920, 767);
    line-height: 90%;
  }
}