//====================================================================================================

.header {
	background: #fff;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;

	// .header__container

	&__container {
		min-height: rem(105);
		padding-bottom: rem(19);
		display: flex;
		align-items: center;
		gap: rem(30);
		padding-top: rem(52);
		transition: all 0.4s ease 0s;

		@media (min-width:$tablet){
			._header-scroll & {
				padding-top: 0;
				padding-bottom: 0;
				min-height: rem(76);
			}	  
		}

		@media (max-width:em(1500)){
			min-height: rem(76);
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 5;
		@media (max-width:$tablet){
			flex: 1 1 auto;
			text-align: center;
		}
	}

	// .header__menu

	&__menu {
		@media (min-width:$tablet){
			flex: 1 1 auto;	  
		}
	}

	// .header__btn

	&__btn {
		@media (max-width:$tablet){
			&:not(:last-child) {
				margin-bottom: rem(20);
			}	
		}
	}

	// .header__select

	&__select {
		@media (min-width:$mobile){
			margin-left: rem(7); 
		}
		@media (max-width:$tablet){
			&:not(:last-child) {
				margin-bottom: rem(20);
			}	
		}
	}

	// .header__phone

	&__phone {
		position: relative;
		z-index: 5;
		@media (min-width:$tablet){
			display: none;
		}
		@media (max-width:$tablet){
			flex: 0 0 rem(24);
		}

		img {
			max-width: 100%;
		}
	}
}

.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width:$tablet){
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: #fff;
			z-index: 4;
			padding: rem(115) 0 rem(30) 0;
			overflow: auto;
			top: -100vh;
			transition: all 0.3s ease 0s;
			display: flex;
			flex-direction: column;
			align-items: center;

			.menu-open & {
				top: 0;
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		row-gap: rem(52);
		column-gap: rem(23);

		@media (min-width:$tablet){
			justify-content: flex-end; 
		}

		@media (max-width:$tablet){
			flex-direction: column;
			&:not(:last-child) {
				margin-bottom: rem(40);
			}
		}
	}

	// .menu__item

	&__item {
		position: relative;

		&::after{
			content:'';
			position: absolute;
			bottom: rem(-4);
			left: 0;
			height: rem(1);
			width: 100%;
			background: linear-gradient(0deg, #83CBFF, #83CBFF), #83CBFF;
		}
	}

	// .menu__link

	&__link {
		font-weight: 500;
		font-size: rem(14);
		line-height: 121.428571%; /* 17/14 */
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				opacity: 0.8;
			}
		}
	}
}

.button {
	font-size: rem(14);
	line-height: 121.428571%; /* 17/14 */
	border-radius: 30px;
	padding: rem(11) rem(19);
	transition: all 0.3s ease 0s;

	@media (any-hover: hover){
		&:hover{
			-webkit-box-shadow: 0px 1px 5px -1px rgba(13,94,148,1);
			-moz-box-shadow: 0px 1px 5px -1px rgba(13,94,148,1);
			box-shadow: 0px 1px 5px -1px rgba(13,94,148,1);
		}
	}

	// .button_no-bg

	&_no-bg {
		font-weight: 500;
		color: $blueColor;
		border: 1.5px solid #83CBFF;
	}
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2.7);
			border-radius: 2px;
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

