//====================================================================================================
.mainscreen {
  height: 100vh;
  position: relative;

  // .mainscreen__image-ibg

  &__image-ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 95px);
    @include adaptiveValue("border-bottom-left-radius", 190, 0, 0, 1920, 767);
    overflow: hidden;
    background-color: rgba(23, 29, 55, 0.35);
   
    @media (max-height: em(395)){ 
      height: calc(100% - 20px);
    }
   
    * {
      opacity: 0.6;
      object-position: top;
      
      @media (max-width:$mobileSmall){
        object-position: center; 
      }
    }
  }

  // .mainscreen__container

  &__container {
    width: 100%;
    position: relative;
    z-index: 2;
    padding-top: 22vh;

    @media (max-width:$mobile){
      padding-top: rem(120); 
    }
  }

  // .mainscreen__title

  &__title {
    @include adaptiveValue("max-width", 740, 500);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 27, 7);
    }
    @media (max-height: em(550)){
      font-size: rem(15);   
    }
  }

  // .mainscreen__subtitle

  &__subtitle {
    @include adaptiveValue("max-width", 950, 700, 0, 1920, 992);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 29, 20);
    }
    @media (max-height: em(550)){
      font-size: rem(13);   
    }
  }

  // .mainscreen__text

  &__text {
    max-width: rem(950);
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 14, 0, 1920, 992);
    line-height: 120.833333%; /* 29/24 */
    letter-spacing: -0.06em;
    color: rgba(43, 48, 74, 0.47);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 90, 30, 0, 1920, 1240);
    }

    @media (max-width:$mobile){
      &:not(:last-child) {
        margin-bottom: rem(70);
      } 
    }
    @media (max-height: em(550)){
      font-size: rem(11);   
    }
    @media (max-height: em(430)){ 
      margin-bottom: rem(30) !important;
    }
  }

  // .mainscreen__controls

  &__controls {
  }

  // .mainscreen__btn-main

  &__btn-main {
    position: absolute;
    right: rem(-2);
    bottom: rem(30);
    @include adaptiveValue("width", 830, 450, 0, 1920, 767);
    background: #0D5E94;
    border-radius: 70px 0px 0px 70px;
    padding: 0 rem(39);
    @include adaptiveValue("padding-top", 55, 30);
    @include adaptiveValue("padding-bottom", 55, 30);
    display: flex;
    align-items: center;
    gap: rem(30);
    font-weight: 500;
    font-size: rem(26);
    line-height: 123.076923%; /* 32/26 */
    color: #FFFFFF;
    transition: all 0.4s ease 0s;
  
    @media (max-width:$mobile){
      width: 100%; 
    }

    @media (max-height: em(395)){ 
      bottom: rem(10);
      padding: rem(15);
    }

    @media (max-width: em(870)){
      width: 100%; 
    }

    @media (any-hover: hover){
      &:hover{
        background-color: #03395e;
      }
    }
  }

  // .mainscreen__arrow

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 rem(31);
    height: rem(31);
    width: rem(31);
    border-radius: 50%;
    border: 2px solid #FFFFFF;

    img {
      width: rem(12);
    }
  }
}

.controls-mainscreen {
  display: flex;
  align-items: center;
  gap: rem(60);
  margin-bottom: rem(50);

  @media (max-width:$mobile){
    justify-content: center; 
  }

  // .controls-mainscreen__btn

  &__btn {
    flex: 0 0 rem(52);
    height: rem(52);
    width: rem(52);
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: rem(4);

    @media (max-width:$mobile){
      display: none; 
    }

    span {
      background: #2B304A;
      border-radius: 2px;
      flex: 0 0 rem(3);
      height: rem(16);
    }
  }

  // .controls-mainscreen__pagination

  &__pagination {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  // .controls-mainscreen__dot

  &__dot {
    flex: 0 0 rem(15);
    width: rem(15);
    height: rem(15);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;

    // .controls-mainscreen__dot_active

    &_active {
      background: #FFFFFF;
    }
  }
}



//====================================================================================================
